<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    @{
        string urlAddress = "https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css"; 
        <link rel="stylesheet" href=@urlAddress crossorigin="anonymous"/>
    }
    <link rel="stylesheet" href="~/lib/jquery/dist/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    

    <title>@ViewData["Title"]</title>
</head>
<body>
    @RenderBody()

</body>
</html>
